<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="{{charset}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{wp_title}}</title>
        {{wp_head}}
    </head>
    <body class="{{body_class}}">
        <header id="site-header" role="banner" aria-label="Site Header" class="site-header">
        </header>